/* .logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 3vh;
    border: 2px solid white;
}

.logo .img1 {
    display: flex;
    justify-content: flex-start;
    width: 10vw;
    height: 12vh; */


}