header {
    width: 80vw;
    height: 25vh;
    border: 2px solid salmon;
}

img {
    display: flex;
    align-content: center;
    justify-self:self-start;
    width: 5vw;
    height: 5vh;
    border:2px green dashed;
}