
.container1 {
    margin: 10px 1px 10px 10px;
    position: flex;
    align-content: wrap;
    width: 100vw;
    height: 70vh;
    border: 2px dashed black;
}

 .content {
    margin-top: 6rem;
    margin-left: 20rem;
    position: flex;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    border: 2px dashed white;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-size: 50px;
    color: var(--company-text-color);
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Lato";
    color: var(--company-text-color);
    font-size: 20px;
}

.photo1 img {
    position: absolute;
    left: 75rem;
    bottom: 10rem;
    width: 13vw;
    height: 50vh;
    border: 2px solid yellow;
}


.photo2 img{
    position: absolute;
    left: 67rem;
    bottom: 8rem;
    justify-content: space-around;
    width: 13vw;
    height: 50vh;
    border: 2px solid blue;
}

.buttons {
    margin-left: 25rem;
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    height: 10vh;
    border: 2px solid tomato;
}

#more {
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 3%;
    color: var(--company-text-color);
    font-size: 17px;
    font-weight: 800;
    width: 8rem;
    height: 3rem;
}

#send {
    display: flex;
    justify-content: center;
    background-color: rgb(11, 107, 172);
    border-radius: 3%;
    color: var(--company-text-color);
    font-size: 17px;
    font-weight: 800;
    width: 8rem;
    height: 3rem;
}

