.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-size: 20px;
    color: var(--company-text-color);
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Lato";
    color: var(--company-text-color);
}

.buttons {
    display: flex;
    justify-content: space-around;
}
#more {
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 3%;
    color: var(--company-text-color);
    font-size: 17px;
    font-weight: 800;
    width: 8rem;
    height: 3rem;
}

#send {
    display: flex;
    justify-content: center;
    background-color: rgb(11, 107, 172);
    border-radius: 3%;
    color: var(--company-text-color);
    font-size: 17px;
    font-weight: 800;
    width: 8rem;
    height: 3rem;
}
.photos div {
    position: flex;
    width: 10vw;
    flex-direction: row;
}