header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    border: 2px dashed greenyellow;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}


.logo .img1 {
    display: flex;
    width: 10vw;
    height: 12vh;
}

header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw; 
    height: 5vh;
    border: 2px solid blue;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}
    

header nav ul li {
    display: inline;
    list-style: none;
} 